*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    width:100%;
    position: fixed;
    height: 32px;
    line-height: 32px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px grey;
    font-family: cursive;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:45px;
    margin: 0 50px;
}

.logo{
    list-style: none;
    margin-right: auto;
    cursor: pointer;
}

.menu li{
    list-style: none;
    position: relative;
    cursor:pointer;
    font-weight: bold;
}


.dropdown{
    position: absolute;
    box-shadow: 0 0 10px grey;
}